<h1> Welcome to Mini Movie Critique </h1>
<div style="width: 700px;margin:auto">

     <img style="width: 600px" src="https://res.cloudinary.com/melzreal/image/upload/v1554051299/shawn-fields-1187956-unsplash_aozzcy.jpg" alt="Photo by Shawn Fields on Unsplash">
  </div>