
<p> Hey <%= @user.name %> </p>
<p> Check out all movie listings here: </p>
<p>	<%= link_to "Movies", movies_path %> </p>

<p> Check out all the movies you created here: </p>
<p>	<%= link_to "Your movies", user_movies_path(session[:user_id]) %> </p>
